
.countryname {
    font-style: normal;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #dedede;
}
.name{
    margin: 11px;
    font-size: 29px;
    text-align: center;
    font-weight: 600;
    padding: 4px 0px 4px 0px;
}
.countryN{
    font-weight: 600;
    font-size: 20px;

    margin: 10px;
    padding: 0px 0px 3px 0px;
}
.load{
    font-size: 20px;
}
.image{
    display: block;
    width: 100%;
}
.container{
    display: block;
    margin: auto;
    max-width: 500px;
    box-shadow: 0px 0px 13px 1px #e8e4e4;
    border-radius: 7px;
    overflow: hidden;

   
}
.imgcon{
    border: 1px solid #f3eded;
    border-radius: 2px;
}
.data{
    padding: 15px 20px;
}
.space{
    padding: 7px 0px;
}
.countryname1{
    padding: 7px 0px;
}
.countrycode{
    padding: 7px 0px;
}
.countrycurrencies{
    padding: 7px 0px;
}
.borders{
    padding: 4px 0px;
}
.callingcodes{
    padding: 4px 0px;
}
.capital{
    padding: 7px 0px;
}
.population{
    padding: 7px 0px;
}
.area{
    padding: 7px 0px;
}
.nativename{
    padding: 7px 0px;
}
.numericcode{
    padding: 7px 0px;
}
.region{
    padding: 7px 0px;
}
.languages{
    padding: 7px 0px;
}
.loader{
        font-size: 25px;
        text-align: center;
        box-shadow: 0px 0px 4px #efebeb;
        border-radius: 4px;
        padding: 14px 0px;
        margin: auto;
        max-width: 500px;
}
html{
    font-family: sans-serif;
    font-size: 14px;
}
.back{
    margin: 11px 7px 0px 19px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #ff5722;
    padding: 3px 6px 5px 8px;
    border-radius: 2px;

}
.link{
    text-decoration: none;
    color:#ff5722;
}
.searchbar{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    outline: none;
    border-top: 1px solid #f0f3f9;
    margin-top: 2px;
    margin-bottom: 2px;
}
.errormessage{
    text-align: center;
    color: #ff5722;
    border-top: 1px solid #f3efef;
    padding: 6px 0px 6px 0px;
}
